<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
      <div class="container">
        <div class="breadcrumb">
          <span class="path">Dashboard</span>
        </div>
        <h1>Dashboard</h1>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
        <div class="col-span-6 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-6  bg-card shadow rounded p-8 m-4">
            <p>Licencia: vence 31 diciembre de 2024</p>
            <h1 class="my-5">PRO</h1>
        </div>
        <div class="col-span-3 sm:col-span-3 md:col-span-3 lg:col-span-3 xl:col-span-3  bg-card shadow rounded p-10 mx-4">
            <p>Collecciones creadas</p>
            <h2>15/20</h2>
        </div>
        <div class="col-span-3 sm:col-span-3 md:col-span-3 lg:col-span-3 xl:col-span-3  bg-card shadow rounded p-10 mx-4">
            <p>Emails enviados/mes</p>
            <h2>15/20</h2>
        </div>
        <div class="col-span-3 sm:col-span-3 md:col-span-3 lg:col-span-3 xl:col-span-3  bg-card shadow rounded p-10 mx-4">
            <p>Entradas a la base de datos</p>
            <h2>1000/20000</h2>
        </div>
        <div class="col-span-3 sm:col-span-3 md:col-span-3 lg:col-span-3 xl:col-span-3  bg-card shadow rounded p-10 mx-4">
            <p>Consultas creadas</p>
            <h2>99/300</h2>
        </div>
    </div>
  </div>
