<treo-card class="flex flex-col max-w-80 w-full filter-article" [ngClass]="{'selected': project.selected}">
    <img class="object-cover"
    [src]="project.image">
    <div class="actions">
        <div class="buttons m-2">
            <button  mat-icon-button [color]="'accent'" (click)="edit()">
                <mat-icon>edit</mat-icon>
            </button>

            <button  mat-icon-button [color]="'accent'" (click)="delete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</treo-card>
<div class="project-caption">
    <div class="text-cool-gray sm:text-lg md:text-xl lg:text-2xl xl:text-2xl text-white font-semibold leading-tight">
        {{project.title}}
    </div>
    
</div>
