<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
      <div class="container">
        <div class="breadcrumb">
          <span class="path">Proyectos</span>
          <span class="separator">/</span>
          <span class="path">Nuevo</span>
        </div>
        <h1>Nuevo proyecto</h1>
      </div>
    </div>
    <div class="p-4">

      <app-project-form></app-project-form>
      <div class="flex items-center justify-end px-4 mt-4">
        <button mat-button>Cancelar</button>
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
          Guardar
        </button>
      </div>
    </div>
  </div>