<form class="bg-card shadow rounded p-8">
    <div class="grid grid-cols-6 gap-4">
        <div class="col-span-6 sm:col-span-3 md:col-span-3 lg:col-span-2 xl:col-span-2">
          <treo-card>
            <img
              src="https://pbs.twimg.com/media/EeQ0EH_WsAAJ0Vf.jpg"
            />
          </treo-card>

          <div class="flex justify-center">

              <button class="px-6 m-4" mat-flat-button [color]="'accent'">
                <mat-icon class="mr-2">add_photo_alternate</mat-icon>
                Cargar logo
              </button>
          </div>
        </div>
        <div class="col-span-6 sm:col-span-3 md:col-span-3 lg:col-span-4 xl:col-span-4 p-4">
          <div
            class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4"
          >
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput />
              <mat-icon matSuffix [svgIcon]="'create_new_folder'"></mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Alias</mat-label>
              <input matInput />
              <mat-icon matSuffix [svgIcon]="'library_add'"></mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Color principal</mat-label>
              <input matInput [value]="colorPrincipal" readonly />
              <div class="color-pick" style="background: {{ colorPrincipal }}"
              [cpPositionRelativeToArrow]="'true'" [cpPosition]="'top-left'" [(colorPicker)]="colorPrincipal" (colorPickerChange)="onChangeColor($event)"></div>
            </mat-form-field>

              <mat-form-field>
                <mat-label>Color del texto</mat-label>                  
                <input matInput [value]="colorText" readonly />
                <div class="color-pick" style="background: {{ colorText }}"
                [cpPositionRelativeToArrow]="'true'" [cpPosition]="'top-left'" [(colorPicker)]="colorText"
                (colorPickerChange)="onChangeColor($event)"></div>
              </mat-form-field>
            
          </div>
        </div>
        <!--div class="col-span-6">
          <div class="flex items-center justify-end px-4">
            <button mat-button>Cancelar</button>
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
              Guardar
            </button>
          </div>
        </div-->
      </div>
  </form>